@import 'var.scss';
@import 'main.scss';

.bodySignUp{ background-color: var(--background-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
#signUp {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--gray-third);
    padding: 30px;
    border-radius: 20px;
    gap: 20px;
    font-family:Helvetica;
    min-width: 100px;
    margin: 40px;
    width: 80vw;
    color: #fff;
}
h2{
    color: var(--green-pasive);
    margin: 0;
}
.input {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--background-secondary);
}
.input::placeholder{
    color: var(--font-placeholder);
}
.inputContainer{
    height: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.btnSubmit {
    background-color: #27ae60;
    border: none;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 1rem;
    justify-self: center;
}
.btnSubmit:hover {
    background-color: var(--active-tab-marker)
}

.btnSubmit:hover {
    background-color: var(--active-tab-marker)
}
