@import 'var.scss';
.icon_animated{
    background-color: $green_pasive;
    border-color: $green_pasive;
    & img {
        height: 100%;
        width: 100%;
        padding: 0;
    }
}

// .swal2-icon-content{
// }
.swal2-popup{
    font-family: Helvetica;
    position: absolute;
    top: 0;
    display: flex !important;
    flex-direction: column;
    height: 300px;
    width: 50%;
    min-width: 300px;
    justify-content: space-around;
    position: relative;
    align-items: center;
    & .title_alert{
        font-size: 19px;
        width: 30%;
        padding: 0;
        min-width: 200px;
    }
    & .confirm_button{
        display: inline-block;
      padding: .75rem 1.25rem;
      border-radius: 10rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: .15rem;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      margin: 0;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $green_pasive;
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($green_pasive, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }
    & .swal2-icon{
        margin: 20px;
    }
}
