:root{
    --active-tab-marker: #00a884;
    --active-tab-marker-rgb: 0,168,132;
    --app-background: #111b21;
    --app-background-rgb: 17,27,33;
    --app-background-deeper: #0a1014;
    --app-background-deeper-rgb: 10,16,20;
    --app-background-stripe: transparent;
    --app-background-stripe-rgb: 0,0,0;
    --attach-media-drop-border: rgba(233,237,239,0.2);
    --attach-media-drop-border-rgb: 233,237,239;
    --attach-media-drop-overlay: rgba(52,70,81,0.3);
    --attach-media-drop-overlay-rgb: 52,70,81;
    --attachment-type-photos-color: #007bfc;
    --attachment-type-photos-color-rgb: 0,123,252;
    --attachment-type-camera-color: #ff2e74;
    --attachment-type-camera-color-rgb: 255,46,116;
    --attachment-type-documents-color: #7f66ff;
    --attachment-type-documents-color-rgb: 127,102,255;
    --attachment-type-catalog-color: #86a3b3;
    --attachment-type-catalog-color-rgb: 134,163,179;
    --attachment-type-quick-replies-color: #ffbc38;
    --attachment-type-quick-replies-color-rgb: 255,188,56;
    --attachment-type-orders-color: #009de2;
    --attachment-type-orders-color-rgb: 0,157,226;
    --attachment-type-contacts-color: #009de2;
    --attachment-type-contacts-color-rgb: 0,157,226;
    --attachment-type-polls-color: #ffbc38;
    --attachment-type-polls-color-rgb: 255,188,56;
    --attachment-type-stickers-color: #02a698;
    --attachment-type-stickers-color-rgb: 2,166,152;
    --audio-control-incoming: #848488;
    --audio-control-incoming-rgb: 132,132,136;
    --audio-control-outgoing: #d1d7db;
    --audio-control-outgoing-rgb: 209,215,219;
    --audio-progress-incoming: #63cb77;
    --audio-progress-incoming-rgb: 99,203,119;
    --audio-progress-outgoing: #599389;
    --audio-progress-outgoing-rgb: 89,147,137;
    --audio-progress-played-incoming: #49a1c8;
    --audio-progress-played-incoming-rgb: 73,161,200;
    --audio-progress-played-outgoing: #43abcd;
    --audio-progress-played-outgoing-rgb: 67,171,205;
    --audio-progress-metadata: hsla(0,0%,100%,0.6);
    --audio-progress-metadata-rgb: 255,255,255;
    --audio-track-incoming: #343f46;
    --audio-track-incoming-rgb: 52,63,70;
    --background-message-sended: #176b5b;
    --background-message-received: #202c33;
    --audio-track-outgoing-rgb: 23,107,91;
    --avatar-background: #111b21;
    --avatar-background-rgb: 17,27,33;
    --primary: #d1d7db;
    --gray-secondary: #848488;
    --background-secondary: #202C33;
    --gray-third: #2f3b43;
    --font-placeholder: #8696a0;
    --white-rgb: rgb(255,255,255);
    --gray-fourth: #2a3941;
    --primary: #d1d7db;
    --gray-secondary: #848488;
    --background-secondary: #202C33;
    --gray-third: #2f3b43;
    --font-placeholder: #8696a0;
    --white-rgb: rgb(255,255,255);
    --gray-fourth: #2a3941;
    --green-pasive: #63cb77;
    --background-message-sended: #176b5b;
    --active-tab-marker: #00a884;
    --audio-progress-played-incoming: #49a1c8;
    --audio-track-incoming: #343f46;
    --background-primary: #111b21;
}
